body(class=#{class})

  header.header
    .header__logo--col-4-12
      a(href="https://www.commercebank.com")
        img(src='img/CommerceFDIC.png', alt='Commerce Bank logo')
    .header__social-nav--col-8-12
      a(href='http://www.facebook.com/commercebank', target='_blank')
        icon(name="ei-sc-facebook", size="m")
      a(href='https://twitter.com/CommerceBank?rd=1', target='_blank')
        icon(name="ei-sc-linkedin", size="m")
      a(href='http://www.linkedin.com/company/commerce_bank', target='_blank')
        icon(name="ei-sc-twitter", size="m")
      
