
extends ../layout/global

block seo
  //title= title
  //meta(name="description" content= description)


block content

  main.container
    .main__container
      - var love = me;
      h1: icon(name="ei-check", size="m") hipster ipsum
      h2= rename.blah
      h2= global.lorem
      h3 hello
      p Hashtag bespoke actually four loko, craft beer gastropub bitters yr vinyl selvage. 90's fixie Carles, yr semiotics tattooed drinking vinegar Marfa photo booth kale chips street art Intelligentsia Kickstarter. Fashion axe bitters Neutra, cronut meggings try-hard High Life fap Truffaut semiotics tofu vinyl four dollar toast raw denim hoodie. Authentic kale chips pork belly, trust fund mustache kogi tattooed 3 wolf moon squid. Odd Future fingerstache craft beer, Neutra narwhal Echo Park occupy Blue Bottle hella fixie Austin cred. Biodiesel Vice cray taxidermy ennui Neutra. Meh fingerstache craft beer chambray banjo, drinking vinegar leggings Austin mlkshk bespoke lumbersexual Pitchfork fixie Kickstarter Williamsburg.
